{{combo-box
  castInteger=true
  valueProperty="value"
  content=setting.validValues
  value=value
  none=setting.allowsNone
  onSelect=(action (mut value))
}}

{{preview}}

{{setting-validation-message message=validationMessage}}

<div class='desc'>
  {{{unbound setting.description}}}
</div>
